@import url(https://fonts.googleapis.com/css?family=Khula:700);

.console-container {
 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:3em;
  text-align:center;
  height:200px;
  width:100%;
  display:block;
  color:white;
  margin:20px;
}
.console-underscore {
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}